DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
MUSIC_TEXT_CHANNEL_ID=
MUSIC_TEXT_CHANNEL_NAME=музыка
YOUTUBE_API_KEY=
YOUTUBE_COOKIE=
YTDLP_COOKIES_PATH=cookies.txt
YTDLP_BIN=yt-dlp
YTDLP_RUNTIME_PATH=
YTDLP_EXTRACTOR_ARGS=youtube:player_client=web
SOUNDCLOUD_CLIENT_ID=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_MARKET=US
EMBED_COLOR_HEX=#4da3ff
MAX_QUEUE_SIZE=150
MAX_PLAYLIST_ITEMS=50
AUTO_DISCONNECT_MS=180000
DEFAULT_VOLUME=0.75
