DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
YOUTUBE_API_KEY=
YOUTUBE_COOKIE=
YTDLP_COOKIES_PATH=cookies.txt
SOUNDCLOUD_CLIENT_ID=
EMBED_COLOR_HEX=#4da3ff
MAX_QUEUE_SIZE=150
MAX_PLAYLIST_ITEMS=50
AUTO_DISCONNECT_MS=180000
DEFAULT_VOLUME=0.75
